article {
	background: #ffffff;
	border-radius: 4px;
	border: 1px solid transparent;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	margin: 0;
	padding: 0
}
article figure {
	margin: 0;
	padding: 0
}
article h1 {
	-ms-word-wrap: break-word;
	word-wrap: break-word
}
article h2 {
	-ms-word-wrap: break-word;
	word-wrap: break-word
}
article p {
	-ms-word-wrap: break-word;
	word-wrap: break-word
}
article .entry-content {
	padding: 0 15px
}
article header {
	overflow: hidden;
	padding: 10px;
	width: 100%;
	color: #444;
	background: #efefef
}
article header a {
	color: #444;
	background: #eeeeee
}
article footer {
	color: #444;
	background: #eeeeee;
	margin: 0;
	padding: 0 10px 5px 5px
}
article footer a {
	color: #444;
	background: #eeeeee
}
article .entry-footer {
	padding: 10px
}
article a {
	color: #444;
	background: none
}
.hentry {
	border-color: #dddddd
}
.media {
	margin-top: 15px;
	overflow: hidden
}
.media-object {
	padding: 0 10px 10px 0
}
.media-left {
	display: table-cell;
	vertical-align: top
}
.media-right {
	display: table-cell;
	vertical-align: top
}

.panel-thumbnail img {
	-moz-transition: all .8s ease-in-out;
	-ms-transition: all .8s ease-in-out;
	-o-transition: all .8s ease-in-out;
	-webkit-transition: all .8s ease-in-out;
	height: 200px;
	object-fit: cover;
	object-position: 50% 1%;
	overflow: hidden;
	transition: all .8s ease-in-out;
	width: 100%
}
.panel-thumbnail img:hover {
	-moz-transition: all 2.8s ease;
	-ms-transition: all 2.8s ease;
	-o-transition: all 2.8s ease;
	-webkit-transition: all 2.8s ease;
	object-position: 50% 99%;
	transition: all 2.8s ease
}
.single-post .panel-thumbnail img {
	height: 100%;
	max-height: 800px
}
.multi-post {
	margin: 10px 5px;
	float: left
}
#map-canvas {
	height: 200px;
	width: 100%
}
