button {
	font-family: inherit;
	font-size: 100%;
	margin: 0;
	vertical-align: baseline;
	border: 1px solid #ccc;
	border-color: #ccc #ccc #bbb #ccc;
	border-radius: 3px;
	background: #e6e6e6;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
	color: rgba(0, 0, 0, 0.8);
	cursor: pointer;
	-webkit-appearance: button;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	line-height: normal;
	text-transform: none;
	cursor: pointer;
	padding: .6em 1em .4em;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8)
}

button:hover {
	border-color: #ccc #bbb #aaa #bbb;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02)
}
button:focus {
	border-color: #aaa #bbb #bbb #bbb;
	box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15)
}
button:active {
	border-color: #aaa #bbb #bbb #bbb;
	box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15)
}
button::-moz-focus-inner {
	border: 0;
	padding: 0
}






.btn i.icon-left {
	padding: 0 5px 0 0
}
.btn i.icon-right {
	padding: 0 0 0 5px
}
.btn-bold {
	border: 3px solid;
	font-weight: bold
}
.btn.disabled {
	cursor: not-allowed;
	pointer-events: none;
	opacity: .4
}
.btn.active {
	text-shadow: rgba(0, 0, 0, 0.5) 0 -1px 0;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.5);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.5)
}
.btn-shadow-dark {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.2)
}
.btn-shadow-light {
	box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.6), 0 6px 20px 0 rgba(255, 255, 255, 0.5)
}
.btn-solid-shadow-dark {
	box-shadow: 4px 5px rgba(0, 0, 0, 0.9)
}
.btn-solid-shadow-light {
	box-shadow: 4px 5px rgba(255, 255, 255, 0.9)
}
.btn-block {
	display: block;
	min-width: 100%
}
.btn-small {
	font-size: .75em;
	padding: .4em .8em
}
.btn-medium {
	font-size: 1em;
	padding: .5em 1em
}
.btn-large {
	font-size: 1.5em;
	padding: .3em .6em;
	font-family: Impact, Charcoal, sans-serif;
	text-shadow: none
}
.btn-skew {
	-webkit-transform: skewX(-15deg);
	transform: skewX(-15deg)
}
.btn-radius {
	border-radius: 3px
}
.btn-radius-large {
	border-radius: 22px
}
.btn-green {
	color: #9FC569;
	border-color: #9FC569
}
.btn-green:hover {
	background: #9FC569;
	color: #FFFFFF;
	border-color: #9FC569
}
.btn-green-inverse {
	background: #9FC569;
	color: #FFFFFF;
	border-color: #9FC569
}
.btn-green-inverse:hover {
	color: #9FC569;
	border-color: #9FC569;
	background: transparent
}
.btn-blue {
	color: #88BBC8;
	border-color: #88BBC8
}
.btn-blue:hover {
	background: #88BBC8;
	color: #FFFFFF;
	border-color: #88BBC8
}
.btn-blue-inverse {
	background: #88BBC8;
	color: #FFFFFF;
	border-color: #88BBC8
}
.btn-blue-inverse:hover {
	color: #88BBC8;
	border-color: #88BBC8;
	background: transparent
}
.btn-orange {
	color: #FFA500;
	border-color: #FFA500
}
.btn-orange:hover {
	background: #FFA500;
	color: #FFFFFF;
	border-color: #FFA500
}
.btn-orange-inverse {
	background: #FFA500;
	color: #FFFFFF;
	border-color: #FFA500
}
.btn-orange-inverse:hover {
	color: #FFA500;
	border-color: #FFA500;
	background: transparent
}
.btn-red {
	color: #ED7A53;
	border-color: #ED7A53
}
.btn-red:hover {
	background: #ED7A53;
	color: #FFFFFF;
	border-color: #ED7A53
}
.btn-red-inverse {
	background: #ED7A53;
	color: #FFFFFF;
	border-color: #ED7A53
}
.btn-red-inverse:hover {
	color: #ED7A53;
	border-color: #ED7A53;
	background: transparent
}
.btn-grey {
	color: #BCBCBE;
	border-color: #BCBCBE
}
.btn-grey:hover {
	background: #BCBCBE;
	color: #FFFFFF;
	border-color: #BCBCBE
}
.btn-grey-inverse {
	background: #BCBCBE;
	color: #FFFFFF;
	border-color: #BCBCBE
}
.btn-grey-inverse:hover {
	color: #BCBCBE;
	border-color: #BCBCBE;
	background: transparent
}
.btn-black {
	color: #000000;
	border-color: #000000
}
.btn-black:hover {
	background: #000000;
	color: #FFFFFF;
	border-color: #000000
}
.btn-black-inverse {
	background: #000000;
	color: #FFFFFF;
	border-color: #000000
}
.btn-black-inverse:hover {
	color: #000000;
	border-color: #000000;
	background: transparent
}
