input {
	font-size: 100%;
	margin: 0;
	vertical-align: baseline
	font-family: inherit;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	line-height: normal
}
input::-moz-focus-inner {
	border: 0;
	padding: 0
}

input[type="checkbox"]+label {
	font-weight: normal;
	margin-bottom: 5px;
	line-height: 1;
	vertical-align: middle
}
input[type="radio"]+label {
	font-weight: normal;
	margin-bottom: 5px;
	line-height: 1;
	vertical-align: middle
}
input[type="button"] {
	font-family: 'Roboto', sans-serif;
	border: 1px solid #ccc;
	border-color: #ccc #ccc #bbb #ccc;
	border-radius: 3px;
	background: #e6e6e6;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
	color: rgba(0, 0, 0, 0.8);
	cursor: pointer;
	-webkit-appearance: button;
	font-size: 12px;
	font-size: 1.2rem;
	line-height: 1;
	padding: .6em 1em .4em;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8)
}
input[type="button"]:hover {
	border-color: #ccc #bbb #aaa #bbb;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02)
}
input[type="button"]:focus {
	border-color: #aaa #bbb #bbb #bbb;
	box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15)
}
input[type="button"]:active {
	border-color: #aaa #bbb #bbb #bbb;
	box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15)
}
input[type="reset"] {
	font-family: 'Roboto', sans-serif;
	border: 1px solid #ccc;
	border-color: #ccc #ccc #bbb #ccc;
	border-radius: 3px;
	background: #e6e6e6;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
	color: rgba(0, 0, 0, 0.8);
	cursor: pointer;
	-webkit-appearance: button;
	font-size: 12px;
	font-size: 1.2rem;
	line-height: 1;
	padding: .6em 1em .4em;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8)
}
input[type="reset"]:hover {
	border-color: #ccc #bbb #aaa #bbb;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02)
}
input[type="reset"]:focus {
	border-color: #aaa #bbb #bbb #bbb;
	box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15)
}
input[type="reset"]:active {
	border-color: #aaa #bbb #bbb #bbb;
	box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15)
}
input[type="submit"] {
	font-family: 'Roboto', sans-serif;
	border: 1px solid #ccc;
	border-color: #ccc #ccc #bbb #ccc;
	border-radius: 3px;
	background: #e6e6e6;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
	color: rgba(0, 0, 0, 0.8);
	cursor: pointer;
	-webkit-appearance: button;
	font-size: 12px;
	font-size: 1.2rem;
	line-height: 1;
	padding: .6em 1em .4em;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8)
}
input[type="submit"]:hover {
	border-color: #ccc #bbb #aaa #bbb;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02)
}
input[type="submit"]:focus {
	border-color: #aaa #bbb #bbb #bbb;
	box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15)
}
input[type="submit"]:active {
	border-color: #aaa #bbb #bbb #bbb;
	box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15)
}

input[type="checkbox"] {
	padding: 0
}
input[type="radio"] {
	padding: 0
}
input[type="search"] {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 3px
}
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none
}
input[type="search"]:focus {
	color: #111
}
input[type="text"] {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 3px
}
input[type="text"]:focus {
	color: #111
}
input[type="email"] {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 3px
}
input[type="email"]:focus {
	color: #111
}
input[type="url"] {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 3px
}
input[type="url"]:focus {
	color: #111
}
input[type="password"] {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 3px
}
input[type="password"]:focus {
	color: #111
}

html input[type="button"] {
	-webkit-appearance: button;
	cursor: pointer
}
html input[disabled] {
	cursor: default
}
input[type="reset"] {
	-webkit-appearance: button;
	cursor: pointer
}
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer
}
button[disabled] {
	cursor: default
}
input[type="checkbox"] {
	box-sizing: border-box;
	padding: 0;
	display: inline
}
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
	display: inline
}
input[type="search"] {
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box
}
input[type="search"]::-webkit-search-cancel-button {
	-webkit-appearance: none
}
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none
}
input[type="text"] {
	background: #f9f9f9;
	border: 1px solid #ddd;
	font-size: 12px;
	padding: 7px 10px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	color: #333;
	margin: 0;
	width: 100%;
	display: block;
	margin-bottom: 20px;
	box-sizing: border-box;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box
}
input[type="text"]:focus {
	border-color: #999;
	color: #444;
	-moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.2)
}
input[type="password"] {
	background: #f9f9f9;
	border: 1px solid #ddd;
	font-size: 12px;
	padding: 7px 10px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	color: #333;
	margin: 0;
	width: 100%;
	display: block;
	margin-bottom: 20px;
	box-sizing: border-box;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box
}
input[type="password"]:focus {
	border-color: #999;
	color: #444;
	-moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.2)
}
input[type="email"] {
	background: #f9f9f9;
	border: 1px solid #ddd;
	font-size: 12px;
	padding: 7px 10px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	color: #333;
	margin: 0;
	width: 100%;
	display: block;
	margin-bottom: 20px;
	box-sizing: border-box;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box
}
input[type="email"]:focus {
	border-color: #999;
	color: #444;
	-moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.2)
}

button,input[type="submit"],input[type="button"],input[type="reset"],.button {
	cursor: pointer;
	margin-right: 1em;
	margin-bottom: 1em;
	display: inline-block;
	*zoom: 1;
	text-align: center;
	text-decoration: none;
	font-family: Tahoma, Geneva, sans-serif;
	font-weight: normal;
	font-size: 1em;
	line-height: 1.2em;
	letter-spacing: 1px;
	vertical-align: middle;
	border: 1px solid;
	transition: all .4s ease;
	box-sizing: border-box;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.05)
}
input[type="submit"] {
	background: #00BCD4;
	color: #FFFFFF;
	border-color: #00BCD4
}
input[type="submit"]:hover {
	color: #00BCD4;
	border-color: #00BCD4;
	background: transparent
}
